/**
 * Declaring fonts
 */
/* Heading text */
/* Regular text */
/* Logo text */
/**
 * Colors used in entire application
 */
/* Base colors */
header {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: 50% 50%; }
  header.green {
    background-color: #275a5f; }
  header.red {
    background-color: #942a53; }
  header.purple {
    background-color: #3d174b; }
  header .project-template-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.9; }
    header .project-template-overlay.green {
      background-image: radial-gradient(closest-corner, #275a5f, #000000 150%); }
    header .project-template-overlay.red {
      background-image: radial-gradient(closest-corner, #942a53, #000000 150%); }
    header .project-template-overlay.purple {
      background-image: radial-gradient(closest-corner, #3d174b, #000000 150%); }

#projectTemplate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #eeddce;
  width: 100%;
  box-sizing: border-box; }
  #projectTemplate .wrapper {
    height: 100%; }
  #projectTemplate .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 90px 40px;
    transition: padding .5s ease;
    height: 100%; }
    #projectTemplate .content .margin-top {
      margin-top: 20px; }
  #projectTemplate #nextProject {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    box-sizing: border-box;
    padding: 90px 40px; }
    #projectTemplate #nextProject.green {
      background-image: radial-gradient(closest-corner, #275a5f, #000000 150%); }
    #projectTemplate #nextProject.red {
      background-image: radial-gradient(closest-corner, #942a53, #000000 150%); }
    #projectTemplate #nextProject.purple {
      background-image: radial-gradient(closest-corner, #3d174b, #000000 150%); }
  #projectTemplate .noMargin {
    margin-top: 0px; }
  #projectTemplate .buttonMarginBottom {
    margin-bottom: 5px; }
  #projectTemplate .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 35px; }
    #projectTemplate .button-container .button-first {
      margin-right: 10px; }
  #projectTemplate h1 {
    text-align: center;
    width: 100%; }
    #projectTemplate h1.green {
      color: #275a5f; }
    #projectTemplate h1.red {
      color: #942a53; }
    #projectTemplate h1.purple {
      color: #3d174b; }
    #projectTemplate h1.main {
      color: #eeddce; }
  #projectTemplate h3 {
    text-align: center;
    width: 100%; }
    #projectTemplate h3.green {
      color: #275a5f; }
    #projectTemplate h3.red {
      color: #942a53; }
    #projectTemplate h3.purple {
      color: #3d174b; }
    #projectTemplate h3.main {
      color: #eeddce; }
    #projectTemplate h3.darkgray {
      color: #383838; }
  #projectTemplate h2 {
    max-width: 704px;
    text-align: center;
    color: gray;
    margin-bottom: 0px;
    width: 100%; }
    #projectTemplate h2.green {
      color: #275a5f; }
    #projectTemplate h2.textOnGreen {
      color: #78afb4; }
    #projectTemplate h2.red {
      color: #942a53; }
    #projectTemplate h2.textOnRed {
      color: #e78aae; }
    #projectTemplate h2.purple {
      color: #3d174b; }
    #projectTemplate h2.textOnPurple {
      color: #9c70ac; }
    #projectTemplate h2.main {
      color: #eeddce; }
    #projectTemplate h2.margin-bottom {
      margin-bottom: 40px; }
    #projectTemplate h2.margin-top-none {
      margin-top: 0px; }
  #projectTemplate .row-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    height: 100%; }
    #projectTemplate .row-content .triple-column, #projectTemplate .row-content .four-column {
      height: 100%; }
    #projectTemplate .row-content article {
      width: 100%; }
      #projectTemplate .row-content article img {
        width: 100%;
        max-width: none; }
    #projectTemplate .row-content.double-column article {
      float: left;
      display: block;
      margin-right: 2%;
      width: calc(100%/2); }
    #projectTemplate .row-content.double-column article:first-of-type {
      margin-left: 15%; }
    #projectTemplate .row-content.double-column article:last-child {
      margin-right: 15%; }
    #projectTemplate .row-content.double-column-full article {
      float: left;
      display: block;
      margin-right: 2%;
      width: calc(100%/2); }
    #projectTemplate .row-content.double-column-full article:last-child {
      margin-right: 0%; }
    #projectTemplate .row-content.triple-column article {
      float: left;
      display: block;
      margin-right: 2%;
      width: calc(100%/3); }
    #projectTemplate .row-content.triple-column article:last-child {
      margin-right: 0px; }
    #projectTemplate .row-content.four-column article {
      float: left;
      display: block;
      margin-right: 2%;
      width: calc(100%/4); }
    #projectTemplate .row-content.four-column article:last-child {
      margin-right: 0px; }
    #projectTemplate .row-content article {
      margin-bottom: 40px; }
  #projectTemplate img {
    max-width: 698px;
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
    #projectTemplate img.margin-bottom {
      margin-bottom: 40px; }
  #projectTemplate .img-full {
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
    #projectTemplate .img-full.margin-bottom {
      margin-bottom: 40px; }
  #projectTemplate .img-lg {
    max-width: 796px;
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
    #projectTemplate .img-lg.margin-bottom {
      margin-bottom: 40px; }
  #projectTemplate .img-sm {
    display: none;
    max-width: 320px;
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
    #projectTemplate .img-sm.margin-bottom {
      margin-bottom: 40px; }
  #projectTemplate .redText {
    color: #942a53;
    font-weight: 500; }
  #projectTemplate .greenText {
    color: #275a5f;
    font-weight: 500; }
  #projectTemplate .purpleText {
    color: #3d174b;
    font-weight: 500; }
  #projectTemplate .mainText {
    color: #eeddce;
    font-weight: 500; }
  #projectTemplate #desc, #projectTemplate #challenge, #projectTemplate #problem, #projectTemplate #outcome, #projectTemplate #details, #projectTemplate #prototype, #projectTemplate #responsibilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; }
    #projectTemplate #desc.green, #projectTemplate #challenge.green, #projectTemplate #problem.green, #projectTemplate #outcome.green, #projectTemplate #details.green, #projectTemplate #prototype.green, #projectTemplate #responsibilities.green {
      background-image: radial-gradient(closest-corner, #275a5f, #000000 150%); }
    #projectTemplate #desc.red, #projectTemplate #challenge.red, #projectTemplate #problem.red, #projectTemplate #outcome.red, #projectTemplate #details.red, #projectTemplate #prototype.red, #projectTemplate #responsibilities.red {
      background-image: radial-gradient(closest-corner, #942a53, #000000 150%); }
    #projectTemplate #desc.purple, #projectTemplate #challenge.purple, #projectTemplate #problem.purple, #projectTemplate #outcome.purple, #projectTemplate #details.purple, #projectTemplate #prototype.purple, #projectTemplate #responsibilities.purple {
      background-image: radial-gradient(closest-corner, #3d174b, #000000 150%); }
  #projectTemplate #footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeddce;
    width: 100%;
    padding: 90px 40px;
    box-sizing: border-box;
    transition: background-position .5s ease, padding .5s ease; }
    #projectTemplate #footer .footer-container {
      position: relative;
      height: 100%;
      width: 100%;
      max-width: 1170px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column; }
      #projectTemplate #footer .footer-container a {
        text-decoration: none;
        font-size: 15px;
        color: #383838;
        cursor: pointer; }
        #projectTemplate #footer .footer-container a:hover {
          color: #942a53;
          text-decoration: line-through; }
      #projectTemplate #footer .footer-container p {
        color: #383838;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: -.3px; }
      #projectTemplate #footer .footer-container hr {
        height: 0;
        width: 100px;
        margin: 30px auto;
        border: 0;
        border-bottom: 2px solid #383838; }
      #projectTemplate #footer .footer-container .socials-container .social {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin: 0px 5px;
        border: 1.5px dotted #464545;
        border-radius: 40px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #383838;
        background-size: 20px 14px; }
        #projectTemplate #footer .footer-container .socials-container .social:hover {
          border: 1.5px dotted #383838;
          background-color: #464545; }

@media only screen and (max-width: 767px) {
  #projectTemplate .content {
    padding: 90px 20px; }
  #projectTemplate #nextProject {
    padding: 90px 20px; }
  #projectTemplate .button-container {
    flex-flow: column; }
    #projectTemplate .button-container .button-first {
      margin-right: 0px;
      margin-bottom: 5px; }
  #projectTemplate .row-content {
    flex-flow: wrap;
    align-items: center; }
    #projectTemplate .row-content.double-column article {
      width: 100%;
      margin-right: 0%; }
    #projectTemplate .row-content.double-column article:first-of-type {
      margin-left: 0%; }
    #projectTemplate .row-content.double-column article:last-child {
      margin-right: 0%; }
    #projectTemplate .row-content.double-column-full article {
      width: 100%;
      margin-right: 0%; }
    #projectTemplate .row-content.triple-column article {
      width: 100%;
      margin-right: 0%; }
    #projectTemplate .row-content.four-column article {
      width: calc((100%/2) - 40px);
      margin-left: 10px;
      margin-right: 10px; }
    #projectTemplate .row-content.four-column article:last-child {
      margin-right: 10px; }
  #projectTemplate .img-lg {
    display: none; }
  #projectTemplate .img-sm {
    display: block; }
  #projectTemplate #footer {
    padding: 90px 20px; } }

@media only screen and (max-width: 500px) {
  #projectTemplate h1 {
    font-size: 42px;
    line-height: 47px;
    letter-spacing: -1.5px; }
  #projectTemplate h2 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -.5px; }
  #projectTemplate h3 {
    font-size: 36px;
    line-height: 47px;
    letter-spacing: -1.5px; } }

@media only screen and (max-width: 365px) {
  #projectTemplate h1 {
    font-size: 35px;
    line-height: 37px; }
  #projectTemplate h2 {
    font-size: 15px;
    line-height: 22px; }
  #projectTemplate h3 {
    font-size: 29px;
    line-height: 37px; } }
