@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

header {
  width: 100%;
  height: 100vh;
}

#projectTemplate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: $color-mainbackground;
    width: 100%;
    box-sizing: border-box;

    #footer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-mainbackground;
        width: 100%;
        padding: 90px 40px;
        box-sizing: border-box;
        transition: background-position .5s ease, padding .5s ease;
      
        .footer-container {
          position: relative;
          height: 100%;
          width: 100%;
          max-width: 1170px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column;
      
          a {
            text-decoration: none;
            font-size: 15px;
            color: $color-darkgray;
            cursor: pointer;
      
            &:hover {
                color: $color-red;
                text-decoration: line-through;
            }
          }
      
          p {
            color: $color-darkgray;
            font-size: 17px;
            line-height: 25px;
            letter-spacing: -.3px;
          }
      
          hr {
            height: 0;
            width: 100px;
            margin: 30px auto;
            border: 0;
            border-bottom: 2px solid $color-darkgray;
          }
      
          .socials-container {
            
            .social {
              display: inline-block;
              height: 40px;
              width: 40px;
              margin: 0px 5px;
              border: 1.5px dotted $color-darkgray-hover;
              border-radius: 40px;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-color: $color-darkgray;
              background-size: 20px 14px;
          
              &:hover {
                border: 1.5px dotted $color-darkgray;
                background-color: $color-darkgray-hover;
              }
            }
          }
        }
    }
}

@media only screen and (max-width: 767px) {

  #projectTemplate {

    #footer {
      padding: 90px 20px;
    }
  }
}

@media only screen and (max-width: 500px) {

    #projectTemplate {
      
        h1 {
            font-size: 42px;
            line-height: 47px;
            letter-spacing: -1.5px;
        }
    }
}

@media only screen and (max-width: 365px) {

    #projectTemplate {
      
        h1 {
            font-size: 35px;
            line-height: 37px;
        }
    }
}