/**
 * Colors used in entire application
 */
/* Base colors */
/*
PROPS FOR PURPLE BACKGROUND
const purpleBackground = {
    backgroundImage: 'radial-gradient(closest-corner, #3d174b 0%, #000000 150%)'
  }
*/
body.noscroll {
  position: fixed; }

.navbar-small {
  position: fixed;
  transform: translateY(-100%);
  height: calc(100%);
  min-height: 250px;
  width: 100%;
  margin-top: 80px;
  top: -80px;
  background-color: #eeddce;
  z-index: 4;
  transition: transform 0.3s; }
  .navbar-small.shown {
    transform: translateY(0); }
  .navbar-small .menu-container-small {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; }
    .navbar-small .menu-container-small.shown .menu-text-small {
      opacity: 1; }
    .navbar-small .menu-container-small .menu-text-small {
      margin: 10px 0px;
      font-size: 30px;
      width: 160px;
      text-decoration: none;
      opacity: 0;
      transition: opacity 0.5s 0.1s; }
      .navbar-small .menu-container-small .menu-text-small.active {
        color: #942a53; }
    .navbar-small .menu-container-small .menu-text-small:hover {
      color: #942a53; }

@media (min-width: 768px) {
  .navbar-small {
    display: none; } }
