@import 'src/styles/_colors.scss';

/* Hamburger menu */
.toggle-button {
  display: flex;
  flex-direction: column;
  //justify-content: space-around; add for 3 line menu
  justify-content: center;
  height: 23px;
  width: 23px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  /* Hamburger menu focus */
  &:focus {
    outline: none;
  }

  /* Hamburger menu lines hover */
  &:hover .toggle-button-line, &:hover .toggle-button-line-first {
    background: $color-red;
  }

  /* Hamburger menu lines */
  .toggle-button-line {
    width: 23px;
    height: 2px;
    background: $color-darkgray;
    transition: transform .5s ease;
  }

    /* Hamburger menu lines */
    .toggle-button-line-first {
      width: 23px;
      height: 2px;
      background: $color-darkgray;
      margin-bottom: 5px;
      transition: transform .5s ease;
    }
}

.toggle-button-cross {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

  /* Cross button focus */
  &:focus {
    outline: none;
  }

  /* Cross button lines hover */
  &:hover .toggle-cross-line {
    background: $color-red;
  }

  /* Cross button lines */
  .toggle-cross-line {
    position: absolute;
    width: 23px;
    height: 2px;
    background: $color-darkgray;
    transition: transform .5s ease;

    &.neg-rotation {
      transform: rotate(-45deg);
    }

    &.pos-rotation {
      transform: rotate(45deg);
    }
  }
}


@-moz-document url-prefix() {
  .toggle-button {
    margin-top: 5px;

    /* Hamburger menu lines */
    .toggle-button-line {
      margin-bottom: 5px;
    }
  }
}
