/**
 * Declaring fonts
 */
/* Heading text */
/* Regular text */
/* Logo text */
/**
 * Colors used in entire application
 */
/* Base colors */
/*
PROPS FOR PURPLE BACKGROUND
const purpleBackground = {
    backgroundImage: 'radial-gradient(closest-corner, #3d174b 0%, #000000 150%)'
  }
*/
#portfolio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeddce;
  width: 100%;
  padding: 0px 40px 0px 40px;
  box-sizing: border-box;
  transition: background-position .5s ease, padding .5s ease; }
  #portfolio .section-detail-right {
    position: absolute;
    background-image: url("../../pngs/rose.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 100% 0%;
    height: 100%;
    width: 100%;
    top: -200px;
    right: 0;
    z-index: 1;
    opacity: 0.1; }
  #portfolio .projects-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1170px;
    flex-direction: column; }
    #portfolio .projects-container .project-blocks-wrapper {
      height: 100%;
      width: 100%;
      display: flex; }
    #portfolio .projects-container .project-blocks-wrapper-grid {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px; }

#portfolio:after {
  content: '';
  min-height: inherit;
  font-size: 0; }

@media only screen and (max-width: 767px) {
  #portfolio {
    padding: 0px 20px 0px 20px; }
    #portfolio .projects-container .project-blocks-wrapper {
      flex-direction: column; }
    #portfolio .projects-container .project-blocks-wrapper-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0px; } }
