/**
 * Colors used in entire application
 */

/* Base colors */
//$color-mainbackground: #81C7BB;
//$color-mainbackground: #9dbcbc;
$color-loadingslide: #f4f4f4;
$color-mainbackground: #eeddce;
$color-darkgray: #383838;
$color-darkgray-hover: #464545;
$color-lightgray: #9b9b9b;
/*$color-lightblue: #358ed7;*/
$color-green: #275a5f;
$color-red: #942a53;
$color-purple: #3d174b;
$color-black: #000000;
$color-text-on-red: #e78aae;
$color-text-on-purple: #9c70ac;
$color-text-on-green: #78afb4;
/*$color-lightblue-hover: #2b86d1;*/
$color-white: #FFFFFF;
$color-white-hover: #f7f7f7;
$color-lightgray-border: #cecece;
$color-mainred: #EC5973;
