/**
 * Colors used in entire application
 */

/* Base colors */
$color-mainbackground: #81C7BB;
$color-darkgray: #383838;
$color-lightgray: #808080;
$color-lightblue: #358ed7;
$color-lightblue-hover: #2b86d1;
$color-white: #FFFFFF;
$color-white-hover: #f7f7f7;
$color-lightgray-border: #cecece;
