/**
 * Declaring fonts
 */
/* Heading text */
/* Regular text */
/* Logo text */
/**
 * Colors used in entire application
 */
/* Base colors */
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }
  body a {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    letter-spacing: -.3px;
    color: #383838;
    cursor: pointer; }
  body p {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    letter-spacing: -.3px;
    color: grey; }
  body h1 {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 68px;
    color: #383838;
    letter-spacing: -3.2px;
    line-height: 74px;
    margin-bottom: 0px;
    margin-top: 0px; }
  body h2 {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    letter-spacing: -.3px;
    font-size: 20px;
    line-height: 28px;
    color: #eeddce; }
  body h3 {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 40px;
    color: #eeddce;
    letter-spacing: -3.2px;
    line-height: 44px;
    margin-bottom: 0px;
    margin-top: 0px; }
  body .fadeIn {
    opacity: 0; }
  body .fadeInWorkflow {
    opacity: 0; }
  body .fadeInWorkflowPictures {
    opacity: 0; }
