@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  a {
    font-family: $font-text;
    font-weight: 400;
    letter-spacing: -.3px;
    color: $color-darkgray;
    cursor: pointer;
  }

  p {
    font-family: $font-text;
    font-weight: 400;
    letter-spacing: -.3px;
    color: grey;
  }

  h1 {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 68px;
    color: $color-darkgray;
    letter-spacing: -3.2px;
    line-height: 74px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  h2 {
    font-family: $font-text;
    font-weight: 400;
    letter-spacing: -.3px;
    font-size: 20px;
    line-height: 28px;
    color: $color-mainbackground;
  }

  h3 {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 40px;
    color: $color-mainbackground;
    letter-spacing: -3.2px;
    line-height: 44px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .btn-green {
    position: relative;
    display: inline-block;
    font-family: $font-text;
    font-weight: 500;
    background-image:
    radial-gradient(
      closest-corner,
      $color-green,
      $color-black 150%
    );
    border: none;
    border-radius: 3px;
    color: $color-mainbackground;
    padding: 17px 23px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    z-index: 100;

    &:before {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-family: $font-text;
        font-weight: 500;
        background-image:
        radial-gradient(
          closest-corner,
          $color-green,
          $color-black 200%
        );
        content: '';
        border: none;
        border-radius: 3px;
        color: $color-mainbackground;
        padding: 17px 23px;
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
        opacity: 0;
        margin: 0;
        padding: 0;
        z-index: -100;
    }

    /* General button hover style */
    &:hover {
      &:before {
        opacity: 1;

      }
    }

    /* General button focus style */
    &:focus {
      outline: none;
    }
  }

  /* General button style */
  .btn-red {
    position: relative;
    display: inline-block;
    font-family: $font-text;
    font-weight: 500;
    background-image:
    radial-gradient(
      closest-corner,
      $color-red,
      $color-black 150%
    );
    border: none;
    border-radius: 3px;
    color: $color-mainbackground;
    padding: 17px 23px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    z-index: 100;

    &:before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font-family: $font-text;
      font-weight: 500;
      background-image:
      radial-gradient(
        closest-corner,
        $color-red,
        $color-black 200%
      );
      content: '';
      border: none;
      border-radius: 3px;
      color: $color-mainbackground;
      padding: 17px 23px;
      font-size: 15px;
      cursor: pointer;
      text-decoration: none;
      opacity: 0;
      margin: 0;
      padding: 0;
      z-index: -100;
  }

  &:hover {
    &:before {
      opacity: 1;

    }
  }

    &:focus {
      outline: none;
    }
  }

  .btn-purple {
    position: relative;
    display: inline-block;
    font-family: $font-text;
    font-weight: 500;
    background-image:
    radial-gradient(
      closest-corner,
      $color-purple,
      $color-black 150%
    );
    border: none;
    border-radius: 3px;
    color: $color-mainbackground;
    padding: 17px 23px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    z-index: 100;

    &:before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font-family: $font-text;
      font-weight: 500;
      background-image:
      radial-gradient(
        closest-corner,
        $color-purple,
        $color-black 200%
      );
      content: '';
      border: none;
      border-radius: 3px;
      color: $color-mainbackground;
      padding: 17px 23px;
      font-size: 15px;
      cursor: pointer;
      text-decoration: none;
      opacity: 0;
      margin: 0;
      padding: 0;
      z-index: -100;
  }

  &:hover {
    &:before {
      opacity: 1;

    }
  }

    &:focus {
      outline: none;
    }
  }
}
