/**
 * Declaring fonts
 */
/* Heading text */
/* Regular text */
/* Logo text */
/**
 * Colors used in entire application
 */
/* Base colors */
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }
  body a {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    letter-spacing: -.3px;
    color: #383838;
    cursor: pointer; }
  body p {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    letter-spacing: -.3px;
    color: grey; }
  body h1 {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 68px;
    color: #383838;
    letter-spacing: -3.2px;
    line-height: 74px;
    margin-bottom: 0px;
    margin-top: 0px; }
  body h2 {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    letter-spacing: -.3px;
    font-size: 20px;
    line-height: 28px;
    color: #eeddce; }
  body h3 {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 40px;
    color: #eeddce;
    letter-spacing: -3.2px;
    line-height: 44px;
    margin-bottom: 0px;
    margin-top: 0px; }
  body .show {
    opacity: 1;
    transition: opacity .5s ease-in-out; }
  body .show-matrix {
    opacity: 1;
    -webkit-animation: scale 0.2s ease-in-out 0s;
    -moz-animation: scale 0.2s ease-in-out 0s;
    -o-animation: scale 0.2s ease-in-out 0s;
    animation: scale 0.2s ease-in-out 0s; }
  body .hide {
    opacity: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

@media (max-width: 937px) {
  .order-5 {
    order: 9; }
  .order-6 {
    order: 8; }
  .order-7 {
    order: 7; } }

@media (max-width: 319px) {
  .order-5 {
    order: 7; }
  .order-7 {
    order: 9; } }

@keyframes scale {
  0% { }
  50% {
    transform: scale(1.07); } }

@-webkit-keyframes scale {
  0% { }
  50% {
    -webkit-transform: scale(1.07); } }
