@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

.projects-navbar-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  top: 0px;
  align-items: center;
  justify-content: center;
  background-color: $color-mainbackground;
  z-index: 105;
  transition: all .2s ease;

  &.green {
    background-color: rgba(39, 90, 95, 0.2);
  }

  &.green:hover {
    background-color: rgba(39, 90, 95, 1);
  }

  &.red {
    background-color: rgba(148, 42, 83, 0.2);
  }

  &.red:hover {
    background-color: rgba(148, 42, 83, 1);
  }

  &.purple {
    background-color: rgba(61, 23, 75, 0.2);
  }

  &.purple:hover {
    background-color: rgba(61, 23, 75, 1);
  }

  .projects-navbar {
    display: flex;
    max-width: 1170px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: padding .5s ease;

    .projects-logo-container {
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 0px;
      flex-grow: 2;
      box-sizing: border-box;
      padding-right: 23px;

      .projects-navbar-logo {
        display: flex;
        align-items: center;
        font-family: $font-logo;
        letter-spacing: 5px;
        font-size: 20px;
        color: hsla(0,0%,100%,.8);
        text-decoration: none;

        &.scrolled {
          color: $color-darkgray;
        }
      }
    }

    .projects-menu-container {
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 0px;

      .projects-menu-text {
        color: hsla(0,0%,100%,.8);
        margin-right: 25px;
        font-size: 15px;
        text-decoration: none;
        font-weight: 400;

        &.scrolled {
          color: $color-darkgray;

          &:hover {
            text-decoration: line-through;
            color: $color-red;
          }
        }

        &:hover {
          text-decoration: line-through;
          color: hsla(0,0%,100%,1);
        }

        &:focus {
          color: none;
        }

        &.active {
          text-decoration: line-through;
          color: $color-red;
        }
      }
    }

    .projects-hamburger-icon {
      display: none;
    }
  }
}

@media(max-width: 833px) {

.projects-navbar-container {

  .projects-navbar {

    .projects-logo-container {
      padding-right: 0px;

      .projects-navbar-logo {
        font-size: 15px;
      }
    }

    .projects-menu-container {

      .projects-menu-text {
        margin-right: 15px;
      }
    }
  }
}
}


@media(max-width: 767px) {
  .projects-navbar-container {
    height: 55px;

    .projects-navbar {
      padding: 0 20px;
      justify-content: initial;

      &.green {
        background-color: rgba(39, 90, 95, 0.2);
      }
    
      &.red {
        background-color: rgba(148, 42, 83, 0.2);
      }
    
      &.purple {
        background-color: rgba(61, 23, 75, 0.2);
      }

      .projects-logo-container {
        justify-content: center;

        .projects-navbar-logo {
          font-size: 18px;
        }
      }

      .projects-menu-container {
        display: none;
      }

      .projects-hamburger-icon {
        display: block;
      }
    }
  }
}
