@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

#about-container {
    transition: background-position .5s ease, padding .5s ease;

    #about1-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 90px 40px 0px 40px;
        box-sizing: border-box;
        background-color: $color-mainbackground;
        transition: background-position .5s ease, padding .5s ease;

        .section-detail-left {
            position: absolute;
            background-image: url("../../pngs/anchor.png");
            background-repeat: no-repeat;
            background-size: 500px;
            background-position: 0% 0%;
            height: 100%;
            width: 100%;
            top: -250px;
            left: -20px;
            z-index: 1;
            opacity: 0.1;
        }

        .visual-page-purple-container {
            position: relative;
            height: 100%;
            background-image:
            radial-gradient(
              closest-corner,
              $color-purple,
              $color-black 150%
            );
            border-radius: 25px;
            padding: 90px 20px;
            width: 100%;
            max-width: 1130px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;

            .section-ribbon {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -30px;
                height: 90px;
                width: 240px;
                background-image: url("../../pngs/ribbon.png");
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
          
                h1 {
                  font-size: 35px;
                  transform: rotate(-10deg);
                  margin-top: -11px;
                }
            }

            .about1-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: row wrap;
                text-align: center;
                align-content: center;
                height: 100%;
                max-width: 1130px;
                width: 100%;

                .title-container {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .title-text {
                        max-width: 720px;
                        color: $color-mainbackground;
                    }
                }

                .subheading-container {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 0px 0px 8px 0px;

                    .subheading-text {
                        max-width: 712px;
                        color: $color-text-on-purple;

                        .spanmainbackground {
                            color: $color-mainbackground;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    #about1-container:after {
        content:'';
        min-height:inherit;
        font-size:0;
    }

    #about2-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 90px 40px 0px 40px;
        box-sizing: border-box;
        background-color: $color-mainbackground;
        transition: background-position .5s ease, padding .5s ease;

        .visual-page-green-container {
            position: relative;
            height: 100%;
            background-image:
            radial-gradient(
              closest-corner,
              $color-green,
              $color-black 150%
            );
            border-radius: 25px;
            padding: 90px 20px;
            width: 100%;
            max-width: 1130px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;

            .section-ribbon {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -30px;
                height: 90px;
                width: 240px;
                background-image: url("../../pngs/ribbon.png");
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
          
                h1 {
                  font-size: 35px;
                  transform: rotate(-10deg);
                  margin-top: -11px;
                }
            }
    
            .map {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                max-width: 790px;
                min-height: 430px;
        
                .title-container {
                    display: flex;
                    justify-content: center;
                    width: 100%;
        
                    .title-text {
                        text-align: center;
                        max-width: 520px;
                        color: $color-mainbackground;
                    }
                }
        
                .subheading-container {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 0px 0px 40px 0;
        
                    .subheading-text {
                        text-align: center;
                        max-width: 720px;
                        color: $color-text-on-green;
        
                        .spanmainbackground {
                            color: $color-mainbackground;
                            font-weight: 500;
                        }
                    }
                }

                .worldmap {
                    position: relative;
                    height: 100%;
                    width: 100%;
                }
        
                .subheading2-container {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 40px 0px 8px 0;
        
                    .subheading2-text {
                        font-size: 18px;
                        text-align: center;
                        max-width: 618px;
                        color: $color-text-on-green;
                        padding: 0px 20px;
        
                        .spanmainbackground {
                            color: $color-mainbackground;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    #about2-container:after {
        content:'';
        min-height:inherit;
        font-size:0;
    }
}

@media only screen and (max-width: 767px) {
    #about-container {

        #about1-container {
            padding: 90px 20px 0px 20px;

            .section-detail-left {
                left: 0px;
            }
        }

        #about2-container {
            padding: 90px 20px 0px 20px;
        }
    }
}

@media only screen and (max-width: 500px) {
    #about-container {

        #about1-container {

            .visual-page-purple-container {

                .about1-content {

                    .title-container {
                        max-width: 355px;

                        .title-text {
                            font-size: 42px;
                            letter-spacing: -1.5px;
                            line-height: 47px;
                        }
                    }

                    .subheading-container {
                        max-width: 370px;

                        .subheading-text {
                            font-size: 18px;
                            letter-spacing: -.5px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }

        #about2-container {

            .visual-page-green-container {
    
                .map {
            
                    .title-container {
            
                        .title-text {
                            max-width: 355px;
                            font-size: 42px;
                            letter-spacing: -1.5px;
                            line-height: 47px;
                        }
                    }
            
                    .subheading-container {
            
                        .subheading-text {
                            max-width: 380px;
                            font-size: 18px;
                            letter-spacing: -.5px;
                            line-height: 25px;
                        }
                    }
            
                    .subheading2-container {
            
                        .subheading2-text {
                            max-width: 380px;
                            font-size: 16px;
                            letter-spacing: -.5px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 365px) {
    #about-container {

        #about1-container {

            .visual-page-purple-container {

                .about1-content {

                    .title-container {

                        .title-text {
                            font-size: 35px;
                            line-height: 37px;
                        }
                    }

                    .subheading-container {

                        .subheading-text {
                            font-size: 15px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }

        #about2-container {

            .visual-page-green-container {
    
                .map {
            
                    .title-container {
            
                        .title-text {
                            font-size: 35px;
                            line-height: 37px;
                        }
                    }
            
                    .subheading-container {
            
                        .subheading-text {
                            font-size: 15px;
                            line-height: 22px;
                        }
                    }
            
                    .subheading2-container {
            
                        .subheading2-text {
                            font-size: 15px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}