/**
 * Colors used in entire application
 */
/* Base colors */
/*
PROPS FOR PURPLE BACKGROUND
const purpleBackground = {
    backgroundImage: 'radial-gradient(closest-corner, #3d174b 0%, #000000 150%)'
  }
*/
.project-end-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  border-radius: 25px;
  padding: 90px 20px;
  box-sizing: border-box;
  margin-top: 90px;
  z-index: 2;
  background-image: radial-gradient(closest-corner, #942a53, #000000 150%); }
  .project-end-block .title-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; }
  .project-end-block .subheading-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0px 0px 8px 0px; }
    .project-end-block .subheading-container .subheading-text {
      max-width: 712px;
      color: #e78aae; }
      .project-end-block .subheading-container .subheading-text .spanmainbackground {
        color: #eeddce;
        font-weight: 500; }

@media only screen and (max-width: 500px) {
  .project-end-block .title-container {
    max-width: 355px; }
  .project-end-block .title-container h3 {
    font-size: 36px;
    line-height: 47px;
    letter-spacing: -1.5px; }
  .project-end-block .subheading-container {
    max-width: 370px; }
    .project-end-block .subheading-container .subheading-text {
      font-size: 18px;
      letter-spacing: -.5px;
      line-height: 28px; } }

@media only screen and (max-width: 365px) {
  .project-end-block .title-container h3 {
    font-size: 29px;
    line-height: 37px; }
  .project-end-block .subheading-container .subheading-text {
    font-size: 15px;
    line-height: 22px; } }
