/**
 * Declaring fonts
 */
/* Heading text */
/* Regular text */
/* Logo text */
/**
 * Colors used in entire application
 */
/* Base colors */
/* Header section */
#header {
  position: relative;
  display: flex;
  background-color: #81C7BB;
  width: 100%;
  height: 100vh;
  min-height: 860px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  /* Background on header section */
  /* Text on header section */ }
  #header .header-background {
    position: absolute;
    height: 100%;
    max-width: 1470px;
    width: 100%;
    background-image: url("../../pngs/background.png");
    background-size: 880px 780px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    z-index: 0;
    transition: background-position .5s ease, background-size .5s ease, opacity .5s ease; }
  #header .header-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #81C7BB; }
  #header .header-content {
    position: relative;
    display: flex;
    height: 100%;
    max-width: 1170px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    align-content: center;
    flex-flow: row wrap;
    z-index: 1;
    transition: padding .5s ease;
    /* Content for all text */ }
    #header .header-content .header-content-container {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-content: center;
      height: 100%;
      max-width: 500px;
      box-sizing: border-box;
      padding-bottom: 3px;
      /* Title container on header section */
      /* Sub-heading container on header section */
      /* Buttons container on header section */
      /* Button on header style */
      /* Right button on header style */ }
      #header .header-content .header-content-container .title-container {
        position: relative;
        width: 100%;
        min-height: 0px; }
        #header .header-content .header-content-container .title-container .u-detail {
          position: absolute;
          min-height: 0px;
          min-width: 0px;
          padding-left: 282px;
          line-height: 300px;
          top: -110px;
          z-index: 1; }
          #header .header-content .header-content-container .title-container .u-detail .u-detail-text {
            font-family: "EB Garamond", serif;
            color: #EC5973;
            font-weight: 700;
            font-size: 310px;
            margin: 0 auto;
            opacity: 1;
            visibility: visible;
            transition: visibility .5s ease, opacity .5s ease; }
        #header .header-content .header-content-container .title-container .x-detail {
          position: absolute;
          min-height: 0px;
          min-width: 0px;
          padding-left: 335px;
          line-height: 300px;
          top: 75px;
          z-index: 1; }
          #header .header-content .header-content-container .title-container .x-detail .x-detail-text {
            font-family: "EB Garamond", serif;
            color: #EC5973;
            font-weight: 700;
            font-size: 310px;
            margin: 0 auto;
            opacity: 1;
            visibility: visible;
            transition: visibility .5s ease, opacity .5s ease; }
        #header .header-content .header-content-container .title-container .title-text {
          position: relative;
          line-height: 70px;
          z-index: 2; }
      #header .header-content .header-content-container .text-container {
        width: 100%;
        min-height: 0px;
        padding-bottom: 8px;
        z-index: 2;
        /* Span some light gray text to dark text */
        /* Span some light gray text to dark text */ }
        #header .header-content .header-content-container .text-container .spandarkgray {
          color: #383838;
          font-weight: 500; }
        #header .header-content .header-content-container .text-container .spandarkgray {
          color: #383838;
          font-weight: 500; }
      #header .header-content .header-content-container .buttons-container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 0px; }
      #header .header-content .header-content-container .btn-header {
        padding: 17px 23px;
        margin-right: 8px; }
      #header .header-content .header-content-container .btn-header-right {
        background-color: #FFFFFF;
        color: grey;
        border: 1px solid #cecece;
        padding: 16px 23px;
        /* Right button on header hover */ }
        #header .header-content .header-content-container .btn-header-right:hover {
          background-color: #f7f7f7; }

/* Set new styles depending on width */
@media only screen and (max-width: 1500px) {
  /* Header section */
  #header {
    /* Background on header section */ }
    #header .header-background {
      background-position: 100% 100%; } }

/* Set new styles depending on width */
@media only screen and (max-width: 1370px) {
  /* Header section */
  #header {
    /* Background on header section */ }
    #header .header-background {
      opacity: 0.1; } }

/* Set new styles depending on width */
@media only screen and (max-width: 1210px) {
  /* Header section */
  #header {
    /* Text on header section */ }
    #header .header-content {
      padding: 0 40px; } }

/* Set new styles depending on width */
@media (max-width: 767px) {
  /* Header section */
  #header {
    /* Text on header section */ }
    #header .header-content {
      padding: 0 20px;
      margin-top: 55px; } }

/* Set new styles depending on width */
@media only screen and (max-width: 650px) {
  /* Header section */
  #header {
    /* Text on header section */ }
    #header .header-content {
      /* Content for all text */ }
      #header .header-content .header-content-container {
        /* Title container on header section */ }
        #header .header-content .header-content-container .title-container .u-detail {
          display: none; }
        #header .header-content .header-content-container .title-container .x-detail {
          display: none; }
        #header .header-content .header-content-container .title-container .title-text .ui-ux-red {
          color: #EC5973; } }

/* Set new styles depending on width */
@media only screen and (max-width: 600px) {
  /* Header section */
  #header {
    /* Background on header section */ }
    #header .header-background {
      background-position: 5% 100%; } }

/* Set new styles depending on width */
@media only screen and (max-width: 500px) {
  /* Header section */
  #header {
    min-height: 560px;
    /* Background on header section */
    /* Text on header section */ }
    #header .header-background {
      background-size: 690px 600px; }
    #header .header-content {
      justify-content: center;
      text-align: center;
      /* Content for all text */ }
      #header .header-content .header-content-container {
        max-width: 355px;
        /* Title container on header section */
        /* Sub-heading container on header section */
        /* Buttons container on header section */
        /* Buttons container on header section */
        /* Button on header style */
        /* Right button on header style */ }
        #header .header-content .header-content-container .title-container {
          /* Title text */ }
          #header .header-content .header-content-container .title-container .title-text {
            font-size: 42px;
            letter-spacing: -1.5px;
            line-height: 47px; }
        #header .header-content .header-content-container .text-container {
          /* Sub-heading text */ }
          #header .header-content .header-content-container .text-container .sub-heading-text {
            font-size: 18px;
            letter-spacing: -.5px;
            line-height: 25px; }
        #header .header-content .header-content-container .buttons-container {
          max-width: calc(365px - 28px);
          display: flex;
          justify-content: center; }
        #header .header-content .header-content-container .navLinkButtonContainer {
          width: 100%; }
        #header .header-content .header-content-container .btn-header {
          margin-right: 0px;
          margin-bottom: 5px;
          width: 100%; }
        #header .header-content .header-content-container .btn-header-right {
          width: 100%; } }

/* Set new styles depending on width */
@media only screen and (max-width: 402px) {
  /* Header section */
  #header {
    min-height: 560px;
    /* Background on header section */ }
    #header .header-background {
      background-size: 660px 570px; } }

/* Set new styles depending on width */
@media only screen and (max-width: 365px) {
  /* Header section */
  #header {
    /* Text on header section */ }
    #header .header-content {
      justify-content: center;
      text-align: center;
      /* Content for all text */ }
      #header .header-content .header-content-container {
        max-width: 295px;
        /* Title container on header section */
        /* Sub-heading container on header section */
        /* Buttons container on header section */
        /* Buttons container on header section */
        /* Button on header style */
        /* Right button on header style */ }
        #header .header-content .header-content-container .title-container {
          /* Title text */ }
          #header .header-content .header-content-container .title-container .title-text {
            font-size: 35px;
            letter-spacing: -1.5px;
            line-height: 37px; }
        #header .header-content .header-content-container .text-container {
          /* Sub-heading text */ }
          #header .header-content .header-content-container .text-container .sub-heading-text {
            font-size: 15px;
            letter-spacing: -.5px;
            line-height: 22px; }
        #header .header-content .header-content-container .buttons-container {
          max-width: calc(365px - 28px);
          display: flex;
          justify-content: center; }
        #header .header-content .header-content-container .navLinkButtonContainer {
          width: 100%; }
        #header .header-content .header-content-container .btn-header {
          margin-right: 0px;
          margin-bottom: 5px;
          width: 100%; }
        #header .header-content .header-content-container .btn-header-right {
          width: 100%; } }

/* Set new styles depending on width */
@media only screen and (max-width: 321px) {
  /* Header section */
  #header {
    /* Background on header section */ }
    #header .header-background {
      background-size: 560px 470px; } }

@-moz-document url-prefix() {
  /* Header section */
  #header {
    /* Text on header section */ }
    #header .header-content {
      /* Content for all text */ }
      #header .header-content .header-content-container {
        /* Button on header style */
        /* Right button on header style */ }
        #header .header-content .header-content-container .btn-header {
          padding: 17px 26px; }
        #header .header-content .header-content-container .btn-header-right {
          padding: 16px 26px; } }
