/**
 * Declaring fonts
 */
/* Heading text */
/* Regular text */
/* Logo text */
/**
 * Colors used in entire application
 */
/* Base colors */
/*
PROPS FOR PURPLE BACKGROUND
const purpleBackground = {
    backgroundImage: 'radial-gradient(closest-corner, #3d174b 0%, #000000 150%)'
  }
*/
#header {
  position: relative;
  display: flex;
  background-color: #eeddce;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden; }
  #header .header-background {
    position: absolute;
    height: 100%;
    top: 0;
    max-width: 1170px;
    width: 100%;
    background-image: url("../../pngs/background.png");
    background-size: auto 85%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    z-index: 0;
    transition: background-position .5s ease, background-size .5s ease, opacity .5s ease; }
  #header .header-gradient {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: background-position .5s ease, background-size .5s ease, opacity .5s ease-in-out;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), #eeddce);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 221, 206, 0.8)), to(#eeddce));
    background-image: -webkit-linear-gradient(rgba(238, 221, 206, 0.8), #eeddce);
    background-image: -o-linear-gradient(rgba(238, 221, 206, 0.8), #eeddce); }
  #header .header-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #eeddce; }
  #header .header-content {
    position: relative;
    display: flex;
    height: 100%;
    max-width: 1170px;
    width: 100%;
    margin-left: 0 auto;
    padding: 90px 40px 100px;
    align-content: center;
    flex-flow: row wrap;
    z-index: 1;
    transition: padding .5s ease; }
    #header .header-content .header-content-container {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-content: center;
      height: 100%;
      max-width: 500px;
      box-sizing: border-box;
      padding-bottom: 5px; }
      #header .header-content .header-content-container .title-container {
        position: relative;
        width: 100%;
        min-height: 0px; }
        #header .header-content .header-content-container .title-container .title-text {
          position: relative;
          line-height: 70px;
          z-index: 2; }
      #header .header-content .header-content-container .text-container {
        width: 100%;
        min-height: 0px;
        padding-bottom: 8px;
        z-index: 2; }
        #header .header-content .header-content-container .text-container .sub-heading-text {
          color: #275a5f; }
        #header .header-content .header-content-container .text-container .spanred {
          color: #942a53;
          font-weight: 500; }
      #header .header-content .header-content-container .buttons-container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 0px; }
  #header #workflow-scroll-anchor {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    visibility: hidden; }

#header:after {
  content: '';
  min-height: inherit;
  font-size: 0; }

@media only screen and (max-width: 1500px) {
  #header .header-background {
    background-position: 100% 100%; } }

@media only screen and (max-width: 1250px) {
  #header .header-gradient {
    opacity: 1; } }

@media (max-width: 767px) {
  #header .header-content {
    padding: 90px 20px 70px 20px;
    box-sizing: border-box; }
  #header #workflow-scroll-anchor {
    height: 55px; } }

@media only screen and (max-width: 600px) {
  #header .header-background {
    background-position: 5% 100%; } }

@media only screen and (max-width: 500px) {
  #header .header-content {
    justify-content: center;
    text-align: center; }
    #header .header-content .header-content-container {
      max-width: 355px; }
      #header .header-content .header-content-container .title-container .title-text {
        font-size: 42px;
        letter-spacing: -1.5px;
        line-height: 47px; }
      #header .header-content .header-content-container .text-container .sub-heading-text {
        font-size: 18px;
        letter-spacing: -.5px;
        line-height: 25px; }
      #header .header-content .header-content-container .buttons-container {
        max-width: calc(365px - 65px);
        display: flex;
        justify-content: center; } }

@media only screen and (max-width: 365px) {
  #header .header-content {
    justify-content: center;
    text-align: center; }
    #header .header-content .header-content-container {
      max-width: 295px; }
      #header .header-content .header-content-container .title-container .title-text {
        font-size: 35px;
        line-height: 37px; }
      #header .header-content .header-content-container .text-container .sub-heading-text {
        font-size: 15px;
        line-height: 22px; }
      #header .header-content .header-content-container .buttons-container {
        max-width: calc(365px - 118px);
        display: flex;
        justify-content: center; } }
