@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

/* Header section */
#header {
  position: relative;
  display: flex;
  background-color: $color-mainbackground;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;

  /* Background on header section */
  .header-background {
    position: absolute;
    height: 100%;
    top: 0;
    max-width: 1470px;
    width: 100%;
    background-image: url("../../pngs/background.png");
    background-size: auto 85%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    z-index: 0;
    transition: background-position .5s ease, background-size .5s ease, opacity .5s ease;
  }

  .header-gradient {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: background-position .5s ease, background-size .5s ease, opacity .5s ease-in-out;
    background-image: linear-gradient(hsla(0,0%,100%,.8),#fff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(#fff));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), #fff);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.8), #fff);
  }

  .header-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: $color-mainbackground;
  }

  /* Text on header section */
  .header-content{
    position: relative;
    display: flex;
    height: 100%;
    max-width: 1170px;
    width: 100%;
    margin-left: 0 auto;
    padding: 90px 40px 100px;
    align-content: center;
    flex-flow: row wrap;
    z-index: 1;
    transition: padding .5s ease;

    /* Content for all text */
    .header-content-container {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-content: center;
      height: 100%;
      max-width: 500px;
      box-sizing: border-box;
      padding-bottom: 5px;

      /* Title container on header section */
      .title-container {
        position: relative;
        width: 100%;
        min-height: 0px;

        .title-text {
          position: relative;
          line-height: 70px;
          z-index: 2;
        }
      }

      /* Sub-heading container on header section */
      .text-container {
        width: 100%;
        min-height: 0px;
        padding-bottom: 8px;
        z-index: 2;

        .sub-heading-text {
          color: $color-lightgray;
        }

        /* Span some light gray text to dark text */
        .spandarkgray {
          color: $color-darkgray;
          font-weight: 500;
        }
      }

      /* Buttons container on header section */
      .buttons-container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 0px;
      }

      /* Button on header style */
      .btn-header {
        padding: 17px 23px;
        margin-right: 8px;
      }

      /* Right button on header style */
      .btn-header-right {
        background-color: $color-white;
        color: grey;
        border: 1px solid $color-lightgray-border;
        padding: 16px 23px;

        /* Right button on header hover */
        &:hover {
          background-color: $color-white-hover;
        }
      }
    }
  }

  #workflow-scroll-anchor {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    visibility: hidden;
  }
}

#header:after {
  content:'';
  min-height:inherit;
  font-size:0;
}

/* Set new styles depending on width */
@media only screen and (max-width: 1500px) {

  /* Header section */
  #header {

    /* Background on header section */
    .header-background {
      background-position: 100% 100%;
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 1250px) {

  /* Header section */
  #header {

    .header-gradient {
      opacity: 1;
    }
  }
}

/* Set new styles depending on width */
@media(max-width: 767px) {

  /* Header section */
  #header {

    /* Text on header section */
    .header-content{
      padding: 90px 20px 70px 20px;
      box-sizing: border-box;
    }

    #workflow-scroll-anchor {
      height: 55px;
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 650px) {

  /* Header section */
  #header {

    /* Text on header section */
    .header-content{

      /* Content for all text */
      .header-content-container {

        /* Title container on header section */
        .title-container {

          .u-detail {
            display: none;
          }

          .x-detail {
            display: none;
          }

          .title-text {

            .ui-ux-red {
              color: $color-mainred;
            }
          }
        }
      }
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 600px) {

  /* Header section */
  #header {

    /* Background on header section */
    .header-background {
      background-position: 5% 100%;
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 500px) {

  /* Header section */
  #header {

    /* Text on header section */
    .header-content{
      justify-content: center;
      text-align: center;

      /* Content for all text */
      .header-content-container {
        max-width: 355px;

        /* Title container on header section */
        .title-container {

          /* Title text */
          .title-text {
            font-size: 42px;
            letter-spacing: -1.5px;
            line-height: 47px;
          }
        }

        /* Sub-heading container on header section */
        .text-container {

          /* Sub-heading text */
          .sub-heading-text {
            font-size: 18px;
            letter-spacing: -.5px;
            line-height: 25px;
          }
        }

        /* Buttons container on header section */
        .buttons-container {
          max-width: calc(365px - 65px);
          display: flex;
          justify-content: center;

          /* Buttons container on header section */
          .navLinkButtonContainer {
            width: 100%;
          }

          /* Button on header style */
          .btn-header {
            margin-right: 0px;
            margin-bottom: 5px;
            width: 100%;
          }

          /* Right button on header style */
          .btn-header-right {
            width: 100%;
          }
        }
      }
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 365px) {

  /* Header section */
  #header {

    /* Text on header section */
    .header-content{
      justify-content: center;
      text-align: center;

      /* Content for all text */
      .header-content-container {
        max-width: 295px;

        /* Title container on header section */
        .title-container {

          /* Title text */
          .title-text {
            font-size: 35px;
            line-height: 37px;
          }
        }

        /* Sub-heading container on header section */
        .text-container {

          /* Sub-heading text */
          .sub-heading-text {
            font-size: 15px;
            line-height: 22px;
          }
        }

        /* Buttons container on header section */
        .buttons-container {
          max-width: calc(365px - 118px);
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@-moz-document url-prefix() {

    /* Header section */
    #header {

      /* Text on header section */
      .header-content{

        /* Content for all text */
        .header-content-container {

          /* Button on header style */
          .btn-header {
            padding: 17px 26px;
          }

          /* Right button on header style */
          .btn-header-right {
            padding: 16px 26px;
          }
        }
      }
    }
}
