@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

.navbar-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  top: -80px;
  background-color: $color-mainbackground;
  align-items: center;
  justify-content: center;
  z-index: 5;

  .navbar {
    display: flex;
    max-width: 1170px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: padding .5s ease;

    .logo-container {
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 0px;
      flex-grow: 2;
      box-sizing: border-box;
      padding-right: 23px;

      .navbar-logo {
        display: flex;
        align-items: center;
        font-family: $font-logo;
        letter-spacing: 5px;
        font-size: 20px;
        color: $color-darkgray;
        text-decoration: none;
      }
    }

    .menu-container {
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 0px;

      .menu-text {
        color: $color-darkgray;
        margin-right: 25px;
        font-size: 15px;
        text-decoration: none;
        font-weight: 400;

        &:hover {
          text-decoration: line-through;
          color: $color-red;
        }

        &:focus {
          color: none;
        }

        &.active {
          text-decoration: line-through;
          color: $color-red;
        }
      }
    }

    .hamburger-icon {
      display: none;
    }
  }
}

@media(max-width: 833px) {

.navbar-container {

  .navbar {

    .logo-container {
      padding-right: 0px;

      .navbar-logo {
        font-size: 15px;
      }
    }

    .menu-container {

      .menu-text {
        margin-right: 15px;
      }
    }
  }
}
}


@media(max-width: 767px) {
  .navbar-container {
    height: 55px;

    .navbar {
      padding: 0 20px;
      background-color: $color-mainbackground;
      justify-content: initial;

      .logo-container {
        justify-content: center;

        .navbar-logo {
          font-size: 18px;
          color: $color-darkgray;
        }
      }

      .menu-container {
        display: none;
      }

      .hamburger-icon {
        display: block;
      }
    }
  }
}
