/**
 * Declaring fonts
 */
/* Heading text */
/* Regular text */
/* Logo text */
/**
 * Colors used in entire application
 */
/* Base colors */
.navbar-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  top: -80px;
  background-color: #eeddce;
  align-items: center;
  justify-content: center;
  z-index: 5; }
  .navbar-container .navbar {
    display: flex;
    max-width: 1170px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: padding .5s ease; }
    .navbar-container .navbar .logo-container {
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 0px;
      flex-grow: 2;
      box-sizing: border-box;
      padding-right: 23px; }
      .navbar-container .navbar .logo-container .navbar-logo {
        display: flex;
        align-items: center;
        font-family: "Mr Dafoe", sans-serif;
        letter-spacing: 5px;
        font-size: 20px;
        color: #383838;
        text-decoration: none; }
    .navbar-container .navbar .menu-container {
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 0px; }
      .navbar-container .navbar .menu-container .menu-text {
        color: #383838;
        margin-right: 25px;
        font-size: 15px;
        text-decoration: none;
        font-weight: 400; }
        .navbar-container .navbar .menu-container .menu-text:hover {
          text-decoration: line-through;
          color: #942a53; }
        .navbar-container .navbar .menu-container .menu-text:focus {
          color: none; }
        .navbar-container .navbar .menu-container .menu-text.active {
          text-decoration: line-through;
          color: #942a53; }
    .navbar-container .navbar .hamburger-icon {
      display: none; }

@media (max-width: 833px) {
  .navbar-container .navbar .logo-container {
    padding-right: 0px; }
    .navbar-container .navbar .logo-container .navbar-logo {
      font-size: 15px; }
  .navbar-container .navbar .menu-container .menu-text {
    margin-right: 15px; } }

@media (max-width: 767px) {
  .navbar-container {
    height: 55px; }
    .navbar-container .navbar {
      padding: 0 20px;
      background-color: #eeddce;
      justify-content: initial; }
      .navbar-container .navbar .logo-container {
        justify-content: center; }
        .navbar-container .navbar .logo-container .navbar-logo {
          font-size: 18px;
          color: #383838; }
      .navbar-container .navbar .menu-container {
        display: none; }
      .navbar-container .navbar .hamburger-icon {
        display: block; } }
