@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

/* Navigation bar container */
.navbar-container {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 80px;
  top: -80px;
  background-color: $color-mainbackground;
  align-items: center;
  justify-content: center;
  z-index: 3;

  /* Navigation bar */
  .navbar {
    display: flex;
    max-width: 1170px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: padding .5s ease;

    /* Navbar heading container */
    .logo-container {
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 0px;
      flex-grow: 2;

      /* Navbar heading */
      .navbar-logo {
        display: flex;
        align-items: center;
        font-family: $font-logo;
        letter-spacing: 5px;
        font-size: 22px;
        color: grey;
        text-decoration: none;
      }
    }

    /* Menu container */
    .menu-container {
      display: flex;
      align-items: center;
      height: 100%;
      min-width: 0px;

      /* Menu text */
      .menu-text {
        color: grey;
        margin-right: 25px;
        font-size: 15px;
        text-decoration: none;
        font-weight: 400;

        /* Menu text hover */
        &:hover {
          text-decoration: line-through;
        }

        &:focus {
          color: none;
        }

        &.active {
          text-decoration: line-through;
          
        }
      }

      .btn-menu {
        padding: 11px 20px 13px;
      }
    }

    .hamburger-icon {
      display: none;
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 1210px) {

  /* Navigation bar container */
  .navbar-container {

    /* Navigation bar */
    .navbar {
      padding: 0 40px;
    }
  }
}

@media only screen and (width : 1024px) {

  /* Navigation bar container */
  .navbar-container {

    /* Navigation bar */
    .navbar {

      /* Menu container */
      .menu-container {

        /* Menu text */
        .menu-text {

          /* Menu text hover */
          &:hover {
            color: $color-white;
          }

          &.active {
            color: $color-darkgray;
          }
        }
      }
    }
  }
}

@media only screen and (width : 768px) {

  /* Navigation bar container */
  .navbar-container {

    /* Navigation bar */
    .navbar {

      /* Menu container */
      .menu-container {

        /* Menu text */
        .menu-text {

          /* Menu text hover */
          &:hover {
            color: $color-white;
          }

          &.active {
            color: $color-darkgray;
          }
        }
      }
    }
  }
}

/* Set new styles depending on width */
@media(max-width: 767px) {
  /* Navigation bar container */
  .navbar-container {
    height: 55px;

    /* Navigation bar */
    .navbar {
      padding: 0 20px;
      background-color: $color-white;
      justify-content: initial;

      /* Navbar heading container */
      .logo-container {
        justify-content: center;

        /* Navbar heading */
        .navbar-logo {
          font-size: 18px;
          color: $color-darkgray;
        }
      }

      /* Menu container */
      .menu-container {
        display: none;
      }

      .hamburger-icon {
        display: block;
      }
    }
  }
}
