@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

#about2-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: white;
    padding: 0 40px;
    box-sizing: border-box;

    .map {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 790px;
        min-height: 430px;
        padding: 90px 0;

        .title-container {
            display: flex;
            justify-content: center;
            width: 100%;

            .title-text {
                text-align: center;
                max-width: 520px;
                color: $color-darkgray;
            }
        }

        .subheading-container {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0px 0px 40px 0;

            .subheading-text {
                text-align: center;
                max-width: 720px;
                color: $color-lightgray;

                .spandarkgrey {
                    color: $color-darkgray;
                }
            }
        }

        .subheading2-container {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 40px 0px 8px 0;

            .subheading2-text {
                font-size: 18px;
                text-align: center;
                max-width: 618px;
                color: $color-lightgray;
                padding: 0px 20px;

                .spandarkgrey {
                    color: $color-darkgray;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    #about2-container {
        padding: 0 20px;
    }
}

/* Set new styles depending on width */
@media only screen and (max-width: 500px) {
    #about2-container {
    
        .map {
    
            .title-container {
    
                .title-text {
                    max-width: 355px;
                    font-size: 42px;
                    letter-spacing: -1.5px;
                    line-height: 47px;
                }
            }
    
            .subheading-container {
    
                .subheading-text {
                    max-width: 380px;
                    font-size: 18px;
                    letter-spacing: -.5px;
                    line-height: 25px;
                }
            }
    
            .subheading2-container {
    
                .subheading2-text {
                    max-width: 380px;
                    font-size: 16px;
                    letter-spacing: -.5px;
                }
            }
        }
    }
}

/* Set new styles depending on width */
@media only screen and (max-width: 365px) {
    #about2-container {
    
        .map {
    
            .title-container {
    
                .title-text {
                    font-size: 35px;
                    line-height: 37px;
                }
            }
    
            .subheading-container {
    
                .subheading-text {
                    font-size: 15px;
                    line-height: 22px;
                }
            }
    
            .subheading2-container {
    
                .subheading2-text {
                    font-size: 15px;
                    line-height: 22px;
                }
            }
        }
    }
}
