@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

/* Workflow section */
#workflow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  width: 100%;
  min-height: 100vh;
  padding: 80px 20px 80px 20px;
  box-sizing: border-box;

  /* Workflow container */
  .workflow-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1170px;
    height: 100%;
    transition: padding .5s ease;

    .title-container {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      min-height: 0px;
    }

    .title-container h1 {
      color: $color-white;
    }

    .subheading-container {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      min-height: 0px;

      .subheading-text {
        color: $color-lightgray;

        /* Span some light gray text to dark text */
        .spanwhite {
          color: $color-white;
          font-weight: 500;
        }
      }
    }

    .workflow-graph-container {
      position: relative;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      min-height: 0px;
      max-width: 801px;
      width: 100%;
      box-sizing: border-box;
      padding-top: 40px;

      .picture-container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        min-height: 172px;
        width: 100%;

        .step {
          height: 172px;
          width: 135px;

          .step-title {
            position: relative;
            display: flex;
            justify-content: center;
            height: 32px;
            width: 100%;
            margin-bottom: 5px;

            .title-text {
              margin-left: 0 auto;
              margin-top: 0;
              color: $color-white;
              font-size: 26px;
              font-weight: 500;
            }
          }

          .step-circle {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 131px;
            width: 131px;
            border-radius: 135px;
            border: 1.5px dashed $color-white;
            background-color: rgba(41,41,41,.8);
            z-index: 1;

            .questionmark {
              padding-left: 3px;
            }

            .middle-circle {
              position: relative;
              width: 5px;
              height: 5px;
              background-color: $color-white;
              border-radius: 50%;
              z-index: 1;
            }
          }
        }

        .step-smallscreen {
          display: none;
          height: 172px;
          width: 135px;

          .step-title {
            position: relative;
            display: flex;
            justify-content: center;
            height: 32px;
            width: 100%;
            margin-bottom: 5px;

            .title-text {
              margin-left: 0 auto;
              margin-top: 0;
              color: $color-white;
              font-size: 26px;
              font-weight: 500;
            }
          }

          .step-circle {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 131px;
            width: 131px;
            border-radius: 135px;
            border: 1.5px dashed $color-white;
            background-color: rgba(41,41,41,.8);
            z-index: 1;

            .questionmark {
              padding-left: 3px;
            }

            .middle-circle {
              position: relative;
              width: 5px;
              height: 5px;
              background-color: $color-white;
              border-radius: 50%;
              z-index: 1;
            }
          }
        }

        .step-bigscreen {
          height: 172px;
          width: 135px;

          .step-title {
            position: relative;
            display: flex;
            justify-content: center;
            height: 32px;
            width: 100%;
            margin-bottom: 5px;

            .title-text {
              margin-left: 0 auto;
              margin-top: 0;
              color: $color-white;
              font-size: 26px;
              font-weight: 500;
            }
          }

          .step-circle {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 131px;
            width: 131px;
            border-radius: 135px;
            border: 1.5px dashed $color-white;
            background-color: rgba(41,41,41,.8);
            z-index: 1;

            .questionmark {
              padding-left: 3px;
            }

            .middle-circle {
              position: relative;
              width: 5px;
              height: 5px;
              background-color: $color-white;
              border-radius: 50%;
              z-index: 1;
            }
          }
        }
        
        .arrow {
          position: relative;
          height: 172px;
          width: 87px;
          padding-top: 99px;
          box-sizing: border-box;

          .arrow-right {
            position: absolute;
            display: flex;
            align-items: center;
            height: 10px;
            width: 154px;
            right: 0;
          }

          .arrow-right-smallest {
            position: absolute;
            display: none;
            align-items: center;
            height: 10px;
            width: 117px;
            right: 0;
          }

          .arrow-left {
            position: absolute;
            display: none;
            align-items: center;
            height: 10px;
            width: 154;
            left: 0;
          }

          .arrow-left-smallest {
            position: absolute;
            display: none;
            align-items: center;
            height: 10px;
            width: 117px;
          }

          .arrow-right-bigscreen {
            position: absolute;
            display: flex;
            align-items: center;
            height: 10px;
            width: 154px;
            right: 0;
          }
        }

        .arrowright-bigscreen {
          position: relative;
          height: 172px;
          width: 87px;
          padding-top: 99px;
          box-sizing: border-box;

          .arrow-right-bigscreen {
            position: absolute;
            display: flex;
            align-items: center;
            height: 10px;
            width: 154px;
            right: 0;
          }
        }

        .arrowup-smallscreen {
          position: relative;
          display: none;
          justify-content: center;
          height: 87px;
          width: 135px;

          .arrow-up {
            position: relative;
            display: flex;
            height: 100%;
            width: 10px;
          }
        }

        .arrowdown-smallscreen {
          position: relative;
          display: none;
          justify-content: center;
          height: 87px;
          width: 135px;

          .arrow-down {
            position: absolute;
            display: flex;
            height: 154px;
            width: 10px;
            bottom: 0;
          }
        }

        .filling-div {
          position: relative;
          visibility: hidden;
          display: none;
          height: 87px;
          width: 87px;
        }
      }

      .repeat-container {
        position: relative;
        padding: 0px 60px 0px 60px;
        width: 100%;
        height: 43px;

        .repeat-picture {
          position: absolute;
          width: 674px;
          bottom: 0;
        }
      }

      .graphText-container {
        min-height: 0px;
        width: 100%;

        .graph-text {
          margin: 0 auto;
          color: $color-white;
          width: 100%;
          font-weight: 500;
          font-size: 15px;
          padding-left: 61px;
        }
      }

      .secondGraphText-container {
        text-align: center;
        min-height: 0px;
        width: 100%;
        padding: 40px 60px 8px 60px;
  
        .graph-second-text {
          color: $color-lightgray;
          font-size: 18px;
          line-height: 28px;
  
          /* Span some light gray text to dark text */
          .spanwhite {
            color: $color-white;
            font-weight: 500;
          }
        }
      }

      .btn {
        background-color: white;
        color: #383838;
      }

      .btn:hover {
        color: #000000;
      }
    }
  }

  #portfolio-scroll-anchor {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    visibility: hidden;
  }
}

#workflow:after {
  content:'';
  min-height:inherit;
  font-size:0;
}

/* Set new styles depending on width */
@media only screen and (max-width: 1210px) {

  /* Workflow section */
  #workflow {
    padding: 90px 40px 90px 40px;
  }
}

/* Set new styles depending on width */
@media(max-width: 881px) {

  /* Workflow section */
  #workflow {
    padding: 90px 0px 90px 0px;

        /* Workflow container */
    .workflow-container {

      .title-container {
        padding: 0px 20px 0px 20px;
      }

      .subheading-container {
        padding: 0px 20px 0px 20px;
      }

      .workflow-graph-container {

        .picture-container {
          width: 357px;

          .step-smallscreen {
            display: block;
          }

          .step-bigscreen {
            display: none;
          }

          .arrow {

            .arrow-right-bigscreen {
              display: none;
            }

            .arrow-left {
              display: flex;
            }
          }

          .arrowright-bigscreen {
            display: none;
          }

          .arrowup-smallscreen {
            display: flex;
          }

          .arrowdown-smallscreen {
            display: flex;
          }

          .filling-div {
            display: block;
          }
        }

        .graphText-container {
          margin-top: 40px;
    
          .graph-text {
            text-align: center;
            padding-left: 0px;
          }
        }
  
        .secondGraphText-container {
          padding: 50px 40px 10px 40px;
        }
      }

      .repeat-container {
        display: none;
      }    
    }
  }
}

/* Set new styles depending on width */
@media(max-width: 767px) {

  /* Header section */
  #workflow {

    #portfolio-scroll-anchor {
      height: 55px;
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 500px) {
  #workflow {

    /* Workflow container */
    .workflow-container {

      .title-container {

        .title-text {
          font-size: 42px;
          line-height: 47px;
          letter-spacing: -1.5px;
        }
      }

      .subheading-container {

        .subheading-text {
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -.5px;
        }
      }

      .workflow-graph-container {
    
        .picture-container {

          .step {
    
            .step-title {
    
              .title-text {
                font-size: 24px;
              }
            }
          }
        }
  
        .secondGraphText-container {
          
          .graph-second-text {
            font-size: 16px;
            letter-spacing: -.5px;
          }
        }
      }
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 365px) {

  /* Workflow section */
  #workflow {

        /* Workflow container */
    .workflow-container {

      .title-container {

        .title-text {
          font-size: 35px;
          line-height: 37px;
        }
      }

      .subheading-container {

        .subheading-text {
          font-size: 15px;
          line-height: 22px;
        }
      }

      .workflow-graph-container {

        .picture-container {
          width: 320px;

          .step {
    
            .step-title {
    
              .title-text {
                font-size: 21px;
              }
            }
          }

          .arrow {
            width: 50px;

            .arrow-right {
              display: none;
            }

            .arrow-right-smallest {
              display: flex;
            }

            .arrow-left {
              display: none;
            }

            .arrow-left-smallest {
              display: flex;
            }
          }

          .arrowup-smallscreen {
            display: flex;
          }

          .arrowdown-smallscreen {
            display: flex;
          }

          .filling-div {
            width: 50px;
            display: block;
          }
        }

        .secondGraphText-container {
          
          .graph-second-text {
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 319px) {

  /* Workflow section */
  #workflow {

        /* Workflow container */
    .workflow-container {

      .workflow-graph-container {

        .picture-container {

          .arrow {
            display: none;
          }

          .arrowup-smallscreen {
            display: none;
          }

          .arrowdown-smallscreen {
            display: none;
          }

          .filling-div {
            display: none;
          }
        }
      }
    }
  }
}
