@import 'src/styles/_fonts.scss';
@import 'src/styles/_colors.scss';

/* Workflow section */
#workflow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  width: 100%;
  height: 100vh;
  min-height: 860px;

  /* Workflow container */
  .workflow-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1170px;
    height: 100%;
    padding: 90px 20px 0px 20px;
    box-sizing: border-box;
    transition: padding .5s ease;

    .title-container {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 0px;
    }

    .subheading-container {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 0px;

      .subheading-text {
        color: $color-lightgray;

        /* Span some light gray text to dark text */
        .spandarkgray {
          color: $color-darkgray;
          font-weight: 500;
        }
      }
    }

    .workflow-graph-container {
      position: relative;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      min-height: 0px;
      max-width: 801px;
      width: 100%;
      box-sizing: border-box;
      padding-top: 50px;

      .picture-container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        min-height: 187px;
        width: 100%;

        .step {
          height: 187px;
          width: 135px;

          .step-title {
            position: relative;
            display: flex;
            justify-content: center;
            height: 32px;
            width: 100%;
            margin-bottom: 20px;

            .title-text {
              margin: 0 auto;
              color: $color-darkgray;
              font-size: 26px;
              font-weight: 500;
            }
          }

          .step-circle {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 131px;
            width: 131px;
            border-radius: 135px;
            border: 2px dashed $color-darkgray;

            .questionmark {
              padding-left: 7px;
            }
          }
        }
        
        .arrow {
          height: 187px;
          width: 87px;
          padding-top: 109.5px;
          box-sizing: border-box;

          .arrow-right {
            position: relative;
            display: flex;
            align-items: center;
            height: 10px;
            width: 100%;
          }

          .arrow-left {
            position: relative;
            display: none;
            align-items: center;
            height: 10px;
            width: 100%;
            background-color: black;
          }
        }
      }

      .repeat-container {
        padding: 0px 60px 0px 60px;
        width: 100%;
        min-height: 0px;
      }

      .graphText-container {
        min-height: 0px;
        width: 100%;

        .graph-text {
          margin: 0 auto;
          color: $color-lightgray;
          font-weight: 500;
          font-size: 15px;
          padding-left: 61px;
        }
      }
    }

    .secondGraphText-container {
      text-align: center;
      min-height: 0px;
      width: 100%;
      padding: 50px 0px 10px 0px;

      .graph-second-text {
        color: $color-lightgray;
        font-size: 17px;
        padding: 0px 264.5px 0px 264.5px;

        /* Span some light gray text to dark text */
        .spandarkgray {
          color: $color-darkgray;
          font-weight: 500;
        }
      }
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 1210px) {

  /* Workflow section */
  #workflow {

    /* Workflow container */
    .workflow-container {
      padding: 90px 40px 0px 40px;
    }
  }
}

/* Set new styles depending on width */
@media(max-width: 767px) {

  /* Workflow section */
  #workflow {

    /* Workflow container */
    .workflow-container {
      padding: 90px 20px 0px 20px;
    }
  }
}

/* Set new styles depending on width */
@media only screen and (max-width: 500px) {

  /* Workflow section */
  #workflow {
    min-height: 560px;
  }
}