/**
 * Declaring fonts
 */
/* Heading text */
/* Regular text */
/* Logo text */
/**
 * Colors used in entire application
 */
/* Base colors */
#footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeddce;
  width: 100%;
  padding: 90px 40px;
  box-sizing: border-box;
  transition: background-position .5s ease, padding .5s ease; }
  #footer .footer-container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column; }
    #footer .footer-container a {
      text-decoration: none;
      font-size: 15px;
      color: #383838;
      cursor: pointer; }
      #footer .footer-container a:hover {
        color: #942a53;
        text-decoration: line-through; }
    #footer .footer-container p {
      color: #383838;
      font-size: 17px;
      line-height: 25px;
      letter-spacing: -.3px; }
    #footer .footer-container hr {
      height: 0;
      width: 100px;
      margin: 30px auto;
      border: 0;
      border-bottom: 2px solid #383838; }

@media only screen and (max-width: 767px) {
  #footer {
    padding: 90px 20px; } }
